@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-image: url('./assets/images/bg-tablet-pattern.svg'),
    url('./assets/images/bg-tablet-pattern.svg');
  background-position: 75px -35px, 75px 400px;
  background-size: 100%;
  background-repeat: no-repeat; */
}

.swiper-pagination {
  position: relative;
  margin-top: 20px;
}

.swiper-slide {
  height: auto;
}

.center-avatar {
  left: calc(50% - 40px);
}
